#canvas
{
    background-color:#30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
    padding: auto;
    
}

body {
    margin-bottom: 16px;
}

body {
    zoom: 2;
    -moz-transform: scale(2);
    -moz-transform-origin: 0 0;
}
